@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.bg-primary {
    background-color: #49111C;
}
.bg-default {
    background-color: #F2F4F3;
}

.text-default {
    color: #49111C;
}